<div class="col-sm-8 blog-main">

	<%= paginate @blogs %>  <!-- uses the Kaminari gem for pagination -->
	
  	<%= render @blogs %>
  	
  	<%= paginate @blogs %>  <!-- This will show the pagination nav
  		 buttons at top & bottom of the page -->

</div><!-- /.blog-main -->
