	<div class="blog-masthead">
		<div class="container">
			<nav class="nav blog-nav">
				<%= nav_helper 'nav-link', 'span'%>
				<%= login_helper 'nav-link' %>
				     <!-- a view helper method that accepts an optional an argument that is a class -->
				     <!-- login_helper is in the DevcampPortfolio/app/helpers/application_helper.rb  file  -->
 			</nav>
 		</div>
 	</div> 
 	
