<div class="col-sm-3  offset-sm-1 blog-sidebar">
	<div class="sidebar-module sidebar-module-insert">
		<h4> About </h4>
		<p>Test Blog project for the <em>Disecting Ruby on Rails 5</em>  course work. This is using the font awesome gem </p>
	</div>
	

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
    		<!-- refers to a new class "social-links" to set some style parms defined in the blogs.sccs file -->
      <li><a href="#"><%= fa_icon "github"%></a></li>
      	<!-- adds a link to the github icon to the sidebar -->
      <li><a href="#"><%= fa_icon "instagram"%></a></li>
      <li><a href="#"><%= fa_icon "facebook"%></a></li>
      <li><a href="#"><%= fa_icon "twitter"%></a></li>
    </ol>
  </div>
