<hr>
<hr>
<hr>
<hr>
<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "Fay, Bill, Nell, Grandkids copy.jpg", width: 300, alt: "Fay, Bill, Nell, Grandkids copy.jpg"%>
	</div>
	
	<div class="col-md-8">
		<p>This is the About Me page used in the Dissecting Ruby on 
			Rails 5 course on Udemy.</p>
	
		<p>This course will lead to additional development efforts to 
		locally present and analysis investment accounts and other 
		financial data.  It is intended for personal use only.</p>
	</div>
</div>

