<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<p>Call me at:  <%= number_to_phone "5555555555"%></p>

<p>Fee:  <%= number_to_currency "15000"%></p>

<p>Percentage:  <%= number_to_percentage  "80.4"%></p>

<p>Random Number:  <%= number_with_delimiter "153589195598"%></p>